:root {
    --text-color-default: #2c2c2c;
    --text-color-light: #fff;

    --font-size-default: 15px;
    --font-size-lg: 25px;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-default: var(--font-weight-regular);

    --border-color-default: var(--text-color-default);

    --bg-color-default: #fff;
    --bg-color-dark: #2c2c2c;

    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;

    --negative-multiplier: -1;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-default);
    color: var(--text-color-default);
}

/* EXAMPLE STYLES: YOU DON'T NEED THEM!!! */
.header {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

body a {
    color: inherit;
    text-decoration: none;
}

.header__btn {
    transition:
            all
            var(--transition-duration)
            var(--transition-timing-function)
            var(--transition-delay);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--bg-color-default);
    border: 1px solid var(--border-color-default);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.header__btn:hover,
.header__btn.js-active {
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
}

.header__title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-semibold);
}

.content {
    margin: 50px auto;
}

.content__title {
    margin-bottom: 40px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-default);
    text-align: center;
}

/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
    --wrapper-width: 900px;

    width: 95%;
    max-width: var(--wrapper-width);
    margin: auto;
}

.timeline__stepper {
    --offset-to-slider-content: 50px;

    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 0 var(--offset-to-slider-content) 0;
    list-style-type: none;
}

.timeline__step {
    position: relative;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    line-height: 1.5rem;
    border-top: 2px solid;
}

.timeline__step:before {
    --timeline-dot-dimensions: 10px;
    --extra-offset-fox-pixelperfect: -1px;

    --dot-top-position: var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect);

    position: absolute;
    top: calc(var(--dot-top-position));
    left: 50%;
    display: block;
    width: var(--timeline-dot-dimensions);
    height: var(--timeline-dot-dimensions);
    transform: translate(-50%);
    content: '';
    border: 2px solid;
    border-radius: 50%;
    background-color: #fff;
}